<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>liblua32.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>lua32.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ulua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F728604180AD15E004A501F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F728614180AD15E004A501F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EE801A9F7F8300E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EE8A1A9F7F8300E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EE9B1A9F805700E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EEA51A9F805700E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EF551A9F819800E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EF5F1A9F819800E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EF701A9F81D500E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EF7A1A9F81D500E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EF8D1A9F824000E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EF971A9F824000E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EFAA1A9F82B700E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EFB41A9F82B700E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EFC71A9F835000E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627EFD11A9F835000E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627F03D1A9F84FA00E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A627F0471A9F84FB00E99E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
