<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>luaTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>luajit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>luajitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ulua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F4B04CF1800959F002EA938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A633EBF61AB3B28C00A7E202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A633EC001AB3B28C00A7E202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A633ED381AB3B56700A7E202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A633EE2A1AB3B7AC00A7E202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66F59BD1AB26D6100AC4A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66F59DC1AB26E1900AC4A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66F5CBE1AB26FB600AC4A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66F5E871AB2705800AC4A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A66F5E911AB2705900AC4A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
